/*CRYPTO-DETAILS*/
.details-main {
  padding: 20px;
}
.details-header {
  color: #4664fb;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.details-image {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.stats {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.left-stats p,
.right-stats p {
  color: #4664fb;
  font-size: 18px;
  border-bottom: 2px solid #28bdfb;
  padding: 15px;
}

.left-stats span,
.right-stats span {
  margin-left: 10px;
  padding: 5px;
  color: #ffffff;
  border-radius: 9px;
  background-color: #4664fb;
  font-weight: 600;
}

.right-stats {
  margin-top: 20px;
  margin-right: 400px;
}
.left-stats {
  margin-top: 20px;
  margin-left: 400px;
}
.details-info h1,
h2,
h3 {
  margin-bottom: 0;
  color: #4664fb;
  font-size: 26px;
}

.details-info p {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

.details-select {
  width: 11rem;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #b8cffd;
  border-radius: 10px;
  background: transparent;
  box-shadow: none;
  height: 2rem;
  margin-bottom: 2rem;
}

.details-select:focus {
  border-color: #4664fb;
}

@media screen and (max-width: 1800px) {
  .stats {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .right-stats,
  .left-stats {
    margin: 2rem;
  }
}

@media screen and (max-width: 520px) {
  .details-header {
    font-size: 15px;
  }
  .details-image {
    width: 70px;
    height: 70px;
  }
  .left-stats,
  .right-stats {
    font-size: 12px;
    margin: 1rem;
  }
  .left-stats p,
  .right-stats p {
    font-size: 14px;
    font-weight: bold;
  }
  .left-stats span,
  .right-stats span {
    line-height: 300%;
    white-space: nowrap;
    margin-right: 20px;
    font-weight: bold;
    margin: 0;
  }

  .details-info h1,
  h2,
  h3 {
    font-size: 20px;
  }

  .details-info p {
    font-size: 15px;
  }
}
