/*ITEMS-LIST*/
.items-main {
  padding: 20px;
}

.search-header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.items-search {
  font-size: medium;
  border: 1px solid #b8cffd;
  border-radius: 10px;
  height: 3rem;
  width: 13rem;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s linear all;
}

.items-search:focus {
  scale: 103%;
  color: #4664fb;
  border-color: #4664fb;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.items {
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}
.items:hover,
.items:active {
  transform: scale(105%);
  background-color: #28bdfb;
  box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 20px 30px -16px rgba(0, 0, 0, 0.6);
}

.items p {
  color: black;
  text-align: end;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 17px;
  color: #4664fb;
}
.item-heading {
  display: flex;
  justify-content: space-between;
  margin: 10px 35px 0 15px;
}
.item-text {
  margin-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.item-image {
  background-color: #4664fb;
  border-radius: 15px;
  padding: 10px;
  width: 40px;
  height: 40px;
}
.view-button {
  display: flex;
  width: 12rem;
  height: 3rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #28bdfb;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 3rem;
  transition: 0.2s linear all;
}
.view-button:hover {
  background-color: #4664fb;
}

@media screen and (max-width: 1220px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .items-main {
    font-size: 12px;
  }

  .search-header {
    padding: 0;
  }

  .items-search {
    width: 9rem;
  }

  .items p {
    font-size: 12px;
  }
  .item-text {
    font-size: 14px;
  }
}
