.button-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  width: 12rem;
  height: 3rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: #28bdfb;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-style: solid;
  border-color: #28bdfb;
  transition: 0.2s linear all;
}
.button:hover,
.button:active {
  background-color: #4664fb;
  border-color: #4664fb;
}
