/* NAVBAR */

.navbar-content {
  margin: 0 25px 25px 25px;
  padding: 20px;
  width: 230px;
  transition: 0.4s linear all;
}

.navbar-hamburger {
  width: 2rem;
  height: 2rem;
}

.navbar-hamburger:active {
  color: #4664fb;
}

.close-button-flex {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.close-button {
  width: 2rem;
  height: 2rem;
}

.close-button:active {
  color: #4664fb;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  border: 2px solid #18283d;
  color: white;
  border-radius: 12px;
  width: 50px;
  height: 50px;
}

.logo-header {
  color: #18283d;
}

.navbar-links {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 25px;
}
.navbar-link {
  text-decoration: none;
  color: #b8cffd;
  font-size: 18px;
  border-radius: 15px;
  font-weight: 600;
  padding: 10px;
  transition: 0.1s linear all;
}
.navbar-link:hover,
.navbar-link:active {
  background-color: #4664fb;
  color: #ffffff;
}
.navbar-active {
  text-decoration: none;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: #4664fb;
  color: #ffffff;
}

@media screen and (max-width: 520px) {
  .navbar-content {
    font-size: 18px;
  }
  .navbar-links {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1180px) {
  .navbar-content {
    position: absolute;
    height: 100vh;
    margin: 0;
    left: 0;
    z-index: 1;
    transform: translate(-150%);
    font-size: 14px;
    border-bottom-right-radius: 15px;
    transition: 0.4s linear all;
  }

  .navbar__content__active {
    background-color: #ffffff;
    width: 230px;
    height: 100vh;
    padding: 20px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: translate(0);
    font-size: 14px;
    transition: 0.4s linear all;
    overflow: hidden;
  }
}
