/* TOP CONTENT */

.top-content {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.left-items,
.middle-items,
.right-items {
  display: flex;
  margin-bottom: 12px;
}

.top-parag {
  margin: 0 10px 0 10px;
  color: gray;
}

.left-items span,
.middle-items span,
.right-items span {
  color: white;
  padding: 5px;
  border-radius: 9px;
  background-color: #4664fb;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .top-content {
    overflow-x: scroll;
    justify-content: flex-start;
    white-space: nowrap;
    font-size: 12px;
  }
  .top-content::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
